

 @font-face {
      font-family: 'Titanium';
      src: url('/fonts/titanium.woff2') format('woff2'),
           url('/fonts/titanium.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}