.site-quick-contact {
  background-color: #044f83;
  color: #fff;
  padding: 6.25rem 0;
}

.site-quick-contact a {
  color: #fff;
}

.site-quick-contact .title {
  margin-bottom: 2.25rem;
}

.site-info {
  background-color: #003960;
  color: #fff;
  font-size: 0.875rem;
  padding: 1.25rem 0;
  text-align: center;
}

.site-info__link {
  color: #fff;
  outline-color: currentColor !important;
}

.site-info__link:hover {
  color: #fff;
}

.site-footer form textarea {
  height: 82px;
}