.site__contact tbody {
    vertical-align: top;
  }
  
  .site__contact td {
    padding: 0 0 0.5rem;
  }
  
  .site__contact td ~ td {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
  
  
  .section-image-banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 300px;
  }
  
  .section-careers ul {
    margin: 22px 0 15px 0;
  }
  .section-careers ul li {
    color: #595959;
    margin-bottom: 20px;
  }
  
  
  .h2-blue h2,
  .accordion-header {
    color: #044f83;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  
  .header-ul h4 {
    margin-bottom: 30px;
  }
  
  .partner-name-pos h3 {
    margin-bottom: 35px;
  }
  
  .site-main {
    padding-bottom: 70px;
    padding-top: 90px;
  }

  .home img.aligncenter.wp-image-505,
  .home img.aligncenter.wp-image-509 {
    width: 100%;
    max-width: 490px;
    object-fit: cover;
}

.home img.aligncenter.wp-image-505 {
  float: right;
}

.home img.aligncenter.wp-image-509 {
  float: left;
}

@media (max-width: 991px) {
    .home img.aligncenter.wp-image-505,
    .home img.aligncenter.wp-image-509 {
        float: none;
    }
}