$root: '.haru-button';
$haru-align: '.haru-align';

#{$root} {
  span {
  	text-decoration: inherit;
  }

  &-content-wrapper {
  	display: inline-flex;
		justify-content: center;
  }

  &-icon {
  	flex-grow: 0;
  	order: 5;

    i {
      font-weight: $fw-bold;
    }
  }

  &-text {
  	flex-grow: 1;
  	order: 10;
  	display: inline-block;
  }

  #{$haru-align} {
  	&-icon {
  		&-left {
  			margin-right: 8px;
  			order: 5;
  		}

  		&-right {
  			margin-left: 8px;
  			order: 15;
  		}
  	}
  }

  &#{$root}--style-4 {
    font-size: 16px;

    @media screen and(max-width: $screen-lg-max) {
      // font-size: 16px;
    }

    @media screen and(max-width: $screen-md-max) {
      font-size: 15px;
    }

    @media screen and(max-width: $screen-sm-max) {
      
    }

    @media screen and(max-width: $screen-xs-max) {
      
    }
    
    #{$root}-icon {
      font-size: 18px;

      @media screen and(max-width: $screen-lg-max) {
        // font-size: 20px;
      }

      @media screen and(max-width: $screen-md-max) {
        // font-size: 18px;
      }

      .ti-arrow-top-right {
        bottom: -3px;
      }
    }
  }


  &#{$root}--style-7 {
    border-bottom: 1px solid $cl-black;
    padding-bottom: 6px;
    transition: all .3s;

    &:hover {
      border-bottom: 1px solid $cl-primary;
      transition: all .3s;
    }
  }

  &#{$root}--style-8 {
    #{$root}-icon {
      i {
        position: relative;
        bottom: -2px;
      }
    }
  }

  &#{$root}--style-9 {
    #{$root}-icon {
      i {
        position: relative;
        bottom: -2px;
      }
    }
  }

  &#{$root}--style-10 {
    color: $cl-black;

    &:hover {
      color: $cl-black;
    }
  }

  &#{$root}--style-11 {
    color: $cl-black;
    text-wrap: nowrap;

    &:hover {
      color: $cl-black;
    }
  }

  &#{$root}--style-12 {
    color: $cl-black;
  }

  &#{$root}--style-13 {
    &#{$root}--size-extra-large {
      .haru-button-icon {
        i {
          position: relative;
          bottom: -1px;

          @media screen and (max-width: $screen-lg-max) {
            bottom: 0;
          }
        }
      }
    }
    
  }
}

#{$haru-align} {
	&-left {
		text-align: left;

		#{$root} {
			width: auto;
		}
	}

	&-right {
		text-align: right;

		#{$root} {
			width: auto;
		}
	}
	
	&-center {
		text-align: center;

		#{$root} {
			width: auto;
		}
	}

	&-justify {
		#{$root} {
			width: 100%;
		}
	}

  &--tabletleft {
    @media screen and (max-width: $screen-sm-max) {
      text-align: left;
    }
  }

  &--tabletright {
    @media screen and (max-width: $screen-sm-max) {
      text-align: right;
    }
  }

  &--tabletcenter {
    @media screen and (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  &--tabletjustify {
    @media screen and (max-width: $screen-sm-max) {

    }
  }

  &--mobileleft {
    @media screen and (max-width: $screen-xs-max) {
      text-align: left;
    }
  }

  &--mobileright {
    @media screen and (max-width: $screen-xs-max) {
      text-align: right;
    }
  }

  &--mobilecenter {
    @media screen and (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  &--mobilejustify {
    @media screen and (max-width: $screen-xs-max) {

    }
  }
}

// Theme Skin
.theme-skin-4 {
  #{$root} {
    &#{$root}--style-1 {
      &#{$root}--size-small {
        font-weight: $fw-bold;
      }
    }
  }
}

.theme-skin-5 {
  #{$root} {
    &#{$root}--style-4 {
      border-radius: $border-radius-e;
    }
  }
}

// Header button widget
#{$header} {
  &--transparent {
    &-light:not(.haru-header--sticky-on) {
      #{$root} {
        &--style-2 {
          background-color: $cl-white;
          color: $cl-black;

          &:hover {
            background-color: $cl-primary;
            color: $cl-white;
          }
        }

        &--style-10 {
          border-color: rgba($cl-white, .3);
          color: $cl-white;

          &:hover {
            border-color: $cl-primary;
            color: $cl-black;
          }
        }
      }
    }

    &-dark:not(.haru-header--sticky-on) {
      #{$root} {
        &--style-2 {
          
        }
      }
    }
  }
}

#{$dark-mode},
#{$background-dark} {
  #{$root} {
    &#{$root}--style-7 {
      border-bottom: 1px solid $cl-white-dark;

      &:hover {
        border-bottom: 1px solid $cl-primary;
      }
    }
  }
}
