// Declare SCSS variables in theme options
$isRTL: 				false !default;

$font-primary: 			'Jost' !default; // v1: Jost,v2: Instrument Sans, v3: Rubik, v4: Satoshi, v5: DM Sans, v6: Manrope, v7: Figtree, v8: DM Sans
$font-secondary: 		'Smooch' !default; // v1: Smooch, v2: Smooch, v3: Smooch, v4: Satoshi, v5: Smooch, v6: Smooch, v7: Handlee, v8: Unbounded
$font-menu:             'Jost' !default; // v1: Jost,v2: Instrument Sans, v3: Rubik, v4: Satoshi, v5: DM Sans, v6: Manrope, v7: Figtree, v8: DM Sans

$fs-base: 				16px !default; // v1: 16px,v2: 16px, v3: 16px, v4: 16px, v5: 16px, landing: 16px, v6: 16px, v7: 16px, v8: 16px,
$fs-menu:               16px !default; // v1: 16px,v2: 16px, v3: 16px, v4: 16px, v5: 16px, landing: 16px, v6: 16px, v7: 16px, v8: 16px,
$fs-small: 				13px;
$fs-extra-small: 		11px;
$fs-14: 				14px;

$theme-url: 			'' !default;

$fw-menu:              	500 !default; // v1: 500, v2: 600, v3: 600, v4: 600, v5: 600, landing: 600, v6: 600, v7: 600, v8: 600
$fw-light: 				300 !default; // v1: 300, v2: 300, v3: 300, v4: 300, v5: 300, landing: 300, v6: 300, v7: 300, v8: 300
$fw-normal: 			400 !default; // v1: 400, v2: 400, v3: 400, v4: 500, v5: 400, landing: 500, v6: 500, v7: 500, v8: 500
$fw-medium: 			500 !default; // v1: 500, v2: 500, v3: 500, v4: 500, v5: 500, landing: 500, v6: 500, v7: 500, v8: 500
$fw-semi-bold: 			500 !default; // v1: 500, v2: 600, v3: 500, v4: 600, v5: 500, landing: 600, v6: 600, v7: 600, v8: 600
$fw-bold: 				500 !default; // v1: 500, v2: 700, v3: 600, v4: 700, v5: 600, landing: 700, v6: 700, v7: 600, v8: 700
$fw-extra-bold: 		800 !default; // v1: 800, v2: 800, v3: 700, v4: 700, v5: 700, landing: 700, v6: 800, v7: 800, v8: 800

$cl-primary:            #1b6f58 !default; // v1: #1b6f58, v2: #8247ff, v3: #ba67ec, v4: #d37657, v5: #000000, landing: #c8f649, v6: #e46319, v7: #f777ac, v8: #9264f3
$cl-secondary:          #38524b !default; // v1: #38524b, v2: #38524b, v3: #38524b, v4: #38524b, v5: #c8f649, landing: #38524b, v6: #0073ca, v7: #9b83e3, v8: #fd98ff
$cl-text: 				#7e7e7e !default;
$cl-text-2: 			#9b9b9b !default;
$cl-text-3: 			#ababab !default;
$cl-text-menu: 			#000 !default;
$cl-link:               #7e7e7e !default;
$cl-link-hover:         #1b6f58 !default;
$cl-link-active:        #1b6f58 !default;
$cl-heading: 			#000 !default;
$cl-border:        		#eee !default;
$cl-border-2:        	#ccc !default;
$cl-border-3:        	#ededed !default;
$cl-border-4:        	#ababab !default;
$cl-bg-header: 			#fff;

$cl-black: 							#000;
$cl-black-2: 						#1d1d1d;
$cl-black-3: 						#323f4b;
$cl-black-4:						#3e4c59;
$cl-black-5: 						#52606d;
$cl-black-6: 						#616e7c;
$cl-black-7: 						#7b8794;

$cl-white: 							#fff;
$cl-white-2: 						#f7f8f9;

$cl-gray: 							#f5f5f5;
$cl-gray-2: 						#f6fafc;
$cl-gray-3: 						#f8f8f8;
$cl-gray-4: 						#f6f9fe;
$cl-gray-5: 						#979797;
$cl-gray-6: 						#f5f1e9;

$cl-red: 							#d82329;
$cl-red-2: 							#ef3f45;
$cl-red-3: 							#ffeff0;

// Gradient
$cl-gr-1: #f48075 !default; // v1: none, v2: #f48075, v3: #f2ba9a, v4: none, v5: #ffefff, landing: #fb98ef, v6: #ffe8e8, v7: none, v8: #FBAA81
$cl-gr-2: #e886e4 !default; // v1: none, v2: #e886e4, v3: #ef94e4, v4: none, v5: #beddfa, landing: #ccf649, v6: #ebebff, v7: none, v8: #E44BC5
$cl-gr-3: #aa71f5 !default; // v1: none, v2: #aa71f5, v3: #9f96f6, v4: none, v5: #faf3ff, v6: none, v7: none, v8: #7370FB
$cl-gr-4: #ffd0b1 !default; // v1: none, v2: none, v3: #f6ceb8, v4: none, v5: #edfdd3, v6: none, v7: none, v8: #F3879B

$cl-gr-5: #ffa292 !default; // v1: none, v2: none, v3: #ff0c3e, v4: none, v5: #fef3f4, v6: none, v7: none, v8: #E44BC5
$cl-gr-6: #ffb28f !default; // v1: none, v2: none, v3: #e9563d, v4: none, v5: #f6effc, v6: none, v7: none, v8: #7370FB
$cl-gr-7: #ffbb8f !default; // v1: none, v2: none, v3: #f3efff (#ef7740), v4: none, v5: #f3efff, v6: none, v8: #4d58bb
$cl-gr-8: #fbab83 !default; // v1: none, v2: none, v3: #fceff8 (#fedd68), v4: none, v5: #fceff8, v6: none, v8: #f049c1

$cl-hd-1: #b1f1b3 !default; // v1: none, v2: none, v3: #f0ffb2, v4: none, v5: none, landing: #c8f649, v6: none, v7: none
$cl-hd-2: #f3eec2 !default; // v1: none, v2: none, v3: #f0ffb2, v4: none, v5: none, landing: #c8f649, v6: none, v7: none

// #f48075, #e886e4, #aa71f5, #ffd0b1, #ffa292, #ffb28f, #ffbb8f, #fbab83
// #2e1736: $cl-gr-9
// #20316f: $cl-gr-10
// #8229ac: $cl-gr-11

// Extra
$cl-green: #11b196;
$cl-bg-green: #e2f5f2;
$cl-yellow: #f7d662;
$cl-star: #f3bb2e;

$opacity-over: .6;
$scale-ratio: 1.03;

// Border radius Layout
$border-radius: 				12px !default; // v1: 12px, v2: 12px, v3: 12px, v4: 0, v5: 0, landing: 12px, v6: 20px, v7: 12px, v8: 0
$border-radius-tiny: 			3px !default; // v1: 3px, v2: 3px, v3: 3px, v4: 0, v5: 0, landing: 3px, v6: 3px, v7: 3px, v8: 0
$border-radius-small: 			3px !default; // v1: 3px, v2: 3px, v3: 3px, v4: 0, v5: 0, landing: 3px, v6: 3px, v7: 3px, v8: 0
$border-radius-medium: 			5px !default; // v1: 5px, v2: 20px, v3: 5px, v4: 0, v5: 0, landing: 5px, v6: 10px, v7: 20px, v8: 0
$border-radius-large: 			10px !default; // v1: 10px, v2: 40px, v3: 10px, v4: 0, v5: 0, landing: 10px, v6: 15px, v7: 40px, v8: 0
$border-radius-extra-large:   	40px !default; // v1: 40px, v2: 100px, v3: 40px, v4: 0, v5: 0, landing: 40px, v6: 40px, v7: 100px, v8: 0

// Border radius Elements
$border-radius-e: 				5px !default; // v1: 5px, v2: 48px, v3: 5px, , v4: 0, v5: 48px, landing: 48px, v6: 48px, v7: 48px, v8: 48px
$border-radius-e-tiny: 			5px !default; // v1: 5px, v2: 12px, v3: 5px, v4: 0, v5: 12px, landing: 5px // For TextArea, v6: 5px, v7: 12px, v8: 12px
$border-radius-e-small: 		3px !default; // v1: 3px, v2: 28px, v3: 3px, v4: 0, v5: 28px, landing: 3px, v6: 3px, v7: 28px, v8: 28px
$border-radius-e-medium: 		12px !default; // v1: 12px, v2: 0, v3: 12px, v4: 0, v5: 0, landing: 12px, v6: 12px, v7: 0, v8: 0
$border-radius-e-large: 		12px !default; // v1: 12px, v2: 0, v3: 12px, v4: 0 , v5: 0, landing: 12px, v6: 12px, v7: 0, v8: 0
$border-radius-e-extra-large: 	40px !default; // v1: 40px, v2: 40px, v3: 40px, v4: 0, v5: 40px, landing: 40px, v6: 40px, v7: 40px, v8: 40px

// Dark mode
$dark-mode: '.dark-mode';
$background-dark: '.background-dark';
$cl-bg-dark: 					#000;
$cl-bg-dark-2:					#1d1d1d;
$cl-bg-dark-3:					#333;
$cl-text-dark: 					#ababab;
$cl-text-2-dark: 				#9b9b9b;
$cl-text-3-dark: 				#696969;
$cl-white-dark: 				#fff;
$cl-border-dark: 				#333;
$cl-border-2-dark: 				#474747;
$cl-border-dark-3: 				#ababab;
$cl-border-dark-4: 				#ccc;

// Base height for element like button
$e-height-base: 48px;
$input-height-base: 48px;

// Opacity
$opacity-hover: .6;

// DECLARE SOME LESS VARIABLES TO USE
$white:                 #fff;
$black:                 #000;

//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;

//** Deprecated `$screen-small-mobile` as of v3.0.1
$screen-mobile:              320px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1025px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// Extra Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-xl:                  1441px;
$screen-xl-min:              $screen-xl;
//** Deprecated `$screen-xl-desktop` as of v3.0.1
$screen-xl-desktop:          $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);
