.btn-primary, .bg-warning, a.bg-warning{
    &:hover{
        background-color: #279e64 !important;
        border-color: #279e64 !important;
        color: #fff !important;
    }
}


.nav-link{

    &.btn.btn-success:hover{
        background-color: #13287d;
        border-color: #13287d !important;
        color: #fff !important;
    }


    &.btn{
        margin: 0 6px;
    }
    
    &.rounded {
        // border-radius: 0.25rem !important
        border-radius: 50px !important;
    }

}
